@media (max-width: 1668px) {
  .section1_home .heroimg {
    max-width: 866px;
    right: 0; }
  .section1_home {
    min-height: 730.043px;
    padding-bottom: 120px; }
  .section1_klaviyo .mainimg {
    max-width: 721px;
    margin-left: 0; }
  .contact .box {
    max-width: 1300px; } }

@media (max-width: 1550px) {
  .section10_sw .bbslide .carousel-inner .carousel-item img {
    max-width: 570px; }
  .section10_sw .bbslide .carousel-inner .carousel-item {
    min-height: 715px; }
  .contact .box {
    padding: 50px 50px; }
  .section1_sw h1 {
    font-size: 74px;
    line-height: 43.14px; }
  .section2_sw .toparea h5 {
    font-size: 35.24px; }
  .section2_sw .toparea h3 {
    font-size: 166px; }
  .section2_sw .toparea h4 {
    font-size: 39px;
    line-height: 17px; }
  .section2_sw .toparea h2 {
    margin-top: 39px; }
  .section2_sw .toparea {
    max-width: 455px;
    margin: 0; }
  .section7_klaviyo_v2 .s7_img_v2 {
    top: -50px;
    max-width: 695px; }
  .section10_sw .bbslide {
    max-width: 884px; }
  .contact .box .leftside h1, .section5_klaviyo .cc_content .step3 h2, .section5_klaviyo .cc_content .step1 h2, .section9_sw .area3 h1, .section9_sw .area2 h1, .section9_sw .para h1, .section8_sw h1, .section7_sw h1, .section6_sw .para2 h1, .section6_sw .para h1, .section5_sw .para h1, .section4_sw h1, .section3_sw h1, .section1_sw h2, .section7_klaviyo_v2 h1, .section4_klaviyo .fullbox h1, .section3_klaviyo .rightside h1, .section2_klaviyo .wrap_maxwidth h1, .section7_klaviyo h1, .section6_klaviyo .cont h2, .section6_klaviyo h1, .section5_klaviyo .cc_content .step2 h2, .section1_klaviyo .rightside h1, .section3_klaviyo .rightside h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .section5_klaviyo .cc_content .step3 h2 {
    max-width: 450px; }
  .section9_sw .area3 .para3 p, .section9_sw .area2 .para2 p, .section9_sw .para p, .section8_sw p, .section7_sw p, .section6_sw .para2 p, .section6_sw .para p, .section5_sw .para p, .section4_sw p, .section3_sw p, .section2_sw .toparea p, .section7_klaviyo_v2 p, .section4_klaviyo .fullbox .lists p, .section3_klaviyo .rightside p, .section2_klaviyo .wrap_maxwidth .leftside p, .section2_klaviyo .wrap_maxwidth .cont h5, .section2_klaviyo .wrap_maxwidth p, .section7_klaviyo p, .section6_klaviyo .cont p, .section1_klaviyo .rightside p, .section3_klaviyo .rightside p {
    font-size: 15px;
    line-height: 21px; }
  .section9_sw .area3 .para3, .section4_sw .para, .section6_sw .para, .section9_sw .area2 .para2, .section8_sw .para {
    margin-left: 50px; }
  .section6_sw {
    overflow: hidden; }
  .section9_sw .area3 .para3 p, .section9_sw .area2 .para2 {
    max-width: 490px; }
  .section9_sw .para h1 {
    margin-bottom: 10px; }
  .section9_sw .para {
    right: 0;
    top: 56px;
    max-width: 520px; }
  .section9_sw {
    padding-top: 50px;
    padding-bottom: 50px; }
  .section10_sw {
    padding-top: 50px; }
  .section9_sw .testomonial p {
    font-size: 30px;
    line-height: 42px; }
  .section9_sw .testomonial {
    max-width: 405px;
    right: 0; }
  .section9_sw .area2 .sw_s9_img2 {
    right: 0;
    top: 250px;
    max-width: 560px; }
  .section9_sw .area2 {
    min-height: 800px; }
  .section8_sw .sw_s8_img1 {
    top: -60px;
    max-width: 541px; }
  .section8_sw {
    padding-top: 100px;
    padding-bottom: 100px; }
  .section9_sw .sw_s9_img1 {
    max-width: 570px; }
  .section7_sw .sw_s7_img1 {
    margin-top: -44px;
    max-width: 550px; }
  .section7_sw {
    min-height: auto; }
  .section6_sw .sw_s6_img2 {
    width: 623px;
    margin-top: 180px; }
  .section6_sw .sw_s6_img1 {
    margin-left: -60px;
    width: 680px; }
  .section4_sw .para {
    max-width: 430px; }
  .section4_sw .sw_s4_img1 {
    right: 99px;
    top: 80px;
    max-width: 484px; }
  .section4_sw {
    padding-bottom: 250px; }
  .section5_sw .sw_s5_img1 {
    max-width: 640px;
    margin-bottom: -31px; }
  .section5_sw .para {
    right: 0;
    top: 70px; }
  .section3_sw .sw_s3_img1 {
    margin-top: 58px;
    margin-right: 0; }
  .section3_sw {
    min-height: auto; }
  .section4_sw .para {
    margin-left: 0; }
  .section1_sw {
    min-height: 800px; }
  .section10_sw h1, .section2_sw h1 {
    font-size: 81px; }
  .section7_klaviyo_v2 {
    padding-top: 120px;
    min-height: 564px; }
  .section3_klaviyo .cols4 h2 {
    font-size: 26px; }
  .section4_klaviyo .fullbox {
    padding: 60px;
    padding-bottom: 82px; }
  .section7_klaviyo p {
    max-width: 466px; }
  .section5_klaviyo .cc_content .step1 p, .section5_klaviyo .cc_content .step2 p, .section5_klaviyo .cc_content .step3 p {
    font-size: 15px;
    line-height: 21px; }
  .section2_klaviyo .wrap_maxwidth .cont h5 {
    padding-left: 83px; }
  .section2_klaviyo .wrap_maxwidth .cont h5 img {
    max-width: 46.58px; }
  .section7_klaviyo .box .meetingklaviyopage {
    right: 0;
    max-width: 561px;
    top: 40px; }
  .section6_klaviyo .orangebtn {
    margin-top: 80px; }
  .section6_klaviyo .cont .s6_k_img3 {
    max-width: 510px;
    margin: auto;
    margin-top: 100px; }
  .section6_klaviyo .cont .s6_k_img2 {
    max-width: 518px;
    margin-right: -30px; }
  .section5_klaviyo .cc_content .step3 {
    right: 80px;
    top: 863px; }
  .section5_klaviyo .cc_content {
    min-height: 1150px; }
  .section5_klaviyo .cc_content .planningklaviyopage {
    max-width: 483px;
    left: 10px;
    top: 950px; }
  .section5_klaviyo .cc_content .engagementklaviyopage {
    max-width: 520px;
    top: 30px; }
  .section5_klaviyo .cc_content .s5_k_img2 {
    top: 450px;
    right: -50px;
    max-width: 593px; }
  .section5_klaviyo .cc_content .step2 {
    top: 426px; }
  .section3_klaviyo .rightside {
    top: 0; }
  .section3_klaviyo .cols4 {
    margin-top: 70px; }
  .section4_klaviyo .fullbox .stepsfull .s4_k_img3 {
    position: absolute;
    right: 0;
    top: 173px;
    max-width: 488px; }
  .section5_klaviyo h1 {
    font-size: 61px;
    line-height: 33.14px; }
  .section1_klaviyo .rightside {
    max-width: 485px; }
  .section1_klaviyo .mainimg {
    max-width: 611px; }
  .section1_klaviyo {
    min-height: 780.043px; }
  .section2_klaviyo .wrap_maxwidth .leftside .s2_k_img5 {
    max-width: 150px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 {
    font-size: 144.67px;
    line-height: 156.67px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 span {
    font-size: 47px; }
  .section3_klaviyo .rightside {
    right: 0; }
  .section3_klaviyo .rightside {
    max-width: 485px; }
  .section3_klaviyo .mainimg {
    max-width: 615px; }
  .section1_home .heroimg {
    max-width: 635px;
    top: -70px; }
  .section1_home h1 {
    max-width: 575px;
    font-size: 51.55px;
    line-height: 53.14px; }
  .section1_home {
    padding-top: 260px;
    padding-bottom: 90px;
    min-height: auto; }
  .section2_home img {
    max-width: 960px;
    width: 100%; }
  .section2_home .rightcont {
    top: -20px; }
  .section2_home .rightcont .cont h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .section2_home .rightcont .cont p {
    font-size: 15px;
    line-height: 21px;
    margin-top: 15px;
    margin-bottom: 26px; }
  .section2_home .rightcont .cont h2 {
    font-size: 29.68px;
    line-height: 42.13px;
    margin-top: 33px; }
  .section2_home .cardsbox h1 {
    font-size: 24px;
    line-height: 43.14px; }
  .section2_home .cardsbox img {
    max-width: 173px; }
  .section2_home .cardsbox .placeforimg {
    min-height: 172px; }
  .section2_home .cardsbox .box {
    max-width: 330px;
    margin: auto; }
  .section2_home .cardsbox h2 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.6px; }
  .section2_home .cardsbox p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 15px; }
  .section2_home {
    padding-bottom: 100px; }
  .section3_home .cont {
    padding-left: 0; }
  .section3_home h1 {
    max-width: 504.124px;
    font-size: 51.55px;
    line-height: 53.14px; }
  .section3_home p {
    font-size: 15px;
    line-height: 24px;
    max-width: 504px; }
  .section3_home img {
    max-width: 632px;
    right: 0; }
  .section3_home {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section4_home h1 {
    font-size: 51.55px;
    line-height: 53.14px;
    margin-bottom: 40px; }
  .section4_home .boxes .box h2 {
    font-size: 27px;
    line-height: 32.21px;
    margin-top: 11px; }
  .section4_home .boxes .box p {
    font-size: 15px;
    line-height: 24px; }
  .section4_home .boxes .box {
    max-width: 500px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px; }
  .section5_home .contmax {
    padding-top: 60px; }
  .section5_home .mainimg {
    max-width: 620px; }
  .section5_home .contmax .rightside {
    top: 35px;
    right: 40px; }
  .section5_home .contmax .rightside h2 {
    font-size: 112.53px;
    line-height: 139.04px; }
  .section6_home {
    padding-top: 50px;
    padding-bottom: 75px; }
  .section6_home h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .section6_home h3 {
    margin-right: 152px;
    font-size: 24px;
    line-height: 27.21px; }
  .section6_home h3 .rightarrow {
    width: 176px;
    right: -166px; }
  .section6_home h3 .rightarrow2 {
    width: 156px;
    right: -152px; }
  .section6_home h3 .rightarrow3 {
    width: 149px;
    right: -147px; }
  .section6_home p {
    font-size: 15px;
    line-height: 24px;
    max-width: 220px;
    margin-top: 40px;
    left: 165px; }
  .section6_home .p2 {
    left: 477px; }
  .section6_home .p3 {
    left: 786px; }
  .section6_home .orangebtn {
    margin-top: 390px; }
  .section7_home .cont {
    padding-left: 0; }
  .section7_home h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .section7_home p {
    font-size: 15px;
    line-height: 24px;
    margin-top: 4px;
    margin-bottom: 15px; }
  .section7_home h5 {
    font-size: 15px;
    line-height: 24px;
    max-width: 520px; }
  .section7_home {
    padding-top: 49px;
    padding-bottom: 49px;
    min-height: 687px; }
  .section7_home img {
    right: 0;
    top: 35px;
    max-width: 575px; }
  .section8_home {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section8_home h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .section8_home .maxcont .box p {
    font-size: 15px;
    line-height: 24px;
    min-height: 128px; }
  .section8_home .maxcont .box ul li {
    font-size: 15px;
    line-height: 24px; }
  .section8_home .maxcont .box h3 {
    font-size: 24px;
    line-height: 51.21px; }
  .section9_home .mainimg {
    max-width: 481px;
    margin-bottom: 0;
    margin-top: 20px; }
  .section9_home {
    padding-bottom: 105px; }
  .section10_home .testomonial {
    margin-left: 70px;
    max-width: 420px;
    margin-bottom: 62px; }
  .section10_home .mainimg {
    max-width: 580px; }
  .section10_home .cont {
    padding-top: 112px; }
  .section10_home .testomonial h2 {
    font-size: 15px;
    line-height: 24px; }
  .section10_home .testomonial p {
    font-size: 17px;
    line-height: 24px; }
  .section11_home h1 {
    font-size: 51.55px;
    line-height: 53.14px; }
  .footer .rightside .footer_logos {
    margin-left: -20px; } }

@media (max-width: 1200px) {
  .section10_sw .bbslide .carousel-inner .carousel-item img {
    max-width: 400px; }
  .section10_sw .bbslide .carousel-inner .carousel-item {
    min-height: 485px; }
  .section1_sw {
    min-height: 670px; }
  .section7_klaviyo_v2 .s7_img_v2 {
    top: 10px;
    max-width: 535px; }
  .customnavbar ul li .cbtn {
    line-height: 47px; }
  .contact .box .leftside h1, .section5_klaviyo .cc_content .step3 h2, .section5_klaviyo .cc_content .step1 h2, .section9_sw .area3 h1, .section9_sw .area2 h1, .section9_sw .para h1, .section8_sw h1, .section7_sw h1, .section6_sw .para2 h1, .section6_sw .para h1, .section5_sw .para h1, .section4_sw h1, .section3_sw h1, .section1_sw h2, .section7_klaviyo_v2 h1, .section4_klaviyo .fullbox h1, .section3_klaviyo .rightside h1, .section2_klaviyo .wrap_maxwidth h1, .section7_klaviyo h1, .section6_klaviyo .cont h2, .section6_klaviyo h1, .section5_klaviyo .cc_content .step2 h2, .section1_klaviyo .rightside h1, .section3_klaviyo .rightside h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .contact .box .leftside p, .section9_sw .area3 .para3 p, .section9_sw .area2 .para2 p, .section9_sw .para p, .section8_sw p, .section7_sw p, .section6_sw .para2 p, .section6_sw .para p, .section5_sw .para p, .section4_sw p, .section3_sw p, .section2_sw .toparea p, .section7_klaviyo_v2 p, .section4_klaviyo .fullbox .lists p, .section3_klaviyo .rightside p, .section2_klaviyo .wrap_maxwidth .leftside p, .section2_klaviyo .wrap_maxwidth .cont h5, .section2_klaviyo .wrap_maxwidth p, .section7_klaviyo p, .section6_klaviyo .cont p, .section1_klaviyo .rightside p, .section3_klaviyo .rightside p {
    font-size: 15px;
    line-height: 21px; }
  .section9_sw .area3 .para3, .section4_sw .para, .section6_sw .para, .section9_sw .area2 .para2, .section8_sw .para {
    margin-left: 00px; }
  .contact .box {
    min-height: auto; }
  .contact .box .leftside h1 {
    max-width: 100%; }
  .contact .box .rightside .inputs textarea, .contact .box .rightside .inputs select, .contact .box .rightside .inputs input {
    font-size: 14px;
    line-height: 24px;
    padding: 13px; }
  .section2_sw .toparea h3 {
    font-size: 146px; }
  .section2_sw .toparea h4 {
    font-size: 35px;
    line-height: 11px; }
  .section2_sw .toparea h4 span {
    font-size: 35px; }
  .section2_sw .toparea {
    max-width: 405px; }
  .section2_sw .toparea h2 {
    margin-top: 39px; }
  .section2_sw .toparea {
    max-width: 405px;
    margin: 0; }
  .section3_sw .sw_s3_img1 {
    margin-top: 88px; }
  .section4_sw .sw_s4_img1 {
    top: 40px;
    max-width: 434px; }
  .section4_sw {
    padding-bottom: 170px; }
  .section5_sw .sw_s5_img1 {
    max-width: 450px;
    margin-bottom: -21px; }
  .section6_sw .sw_s6_img1 {
    width: 600px; }
  .section6_sw .sw_s6_img2 {
    width: 513px;
    margin-top: 210px; }
  .section6_sw .para2 {
    margin-left: 50px; }
  .section7_sw h1 {
    margin-bottom: 60px; }
  .section7_sw p {
    margin-top: -30px; }
  .section7_sw .sw_s7_img1 {
    margin-top: 20px; }
  .section8_sw .sw_s8_img1 {
    top: 20px;
    max-width: 441px; }
  .section9_sw .sw_s9_img1 {
    max-width: 410px;
    margin-top: 60px; }
  .section9_sw .area2 h1 {
    max-width: 550px;
    margin-bottom: 60px; }
  .section9_sw .area2 .sw_s9_img2 {
    top: 170px;
    max-width: 470px; }
  .section9_sw .area2 {
    min-height: 630px; }
  .section9_sw .testomonial {
    max-width: 355px; }
  .section9_sw .testomonial p {
    font-size: 27px;
    line-height: 39px; }
  .section10_sw .bbslide {
    max-width: 680px; }
  .section11_sw .cont {
    margin-top: 30px; }
  .section4_sw .para {
    padding-top: 150px; }
  .section4_klaviyo .fullbox .steps .step h2 {
    font-size: 31px;
    line-height: 38.14px; }
  .section5_klaviyo .cc_content .step1 h2 {
    max-width: 390px; }
  .section5_klaviyo .cc_content .step1 h3, .section5_klaviyo .cc_content .step2 h3, .section5_klaviyo .cc_content .step3 h3 {
    font-size: 134px; }
  .section5_klaviyo .cc_content .step1 h2, .section5_klaviyo .cc_content .step2 h2, .section5_klaviyo .cc_content .step3 h2 {
    margin-top: -80px; }
  .section4_klaviyo .fullbox .stepsfull .s4_k_img3 {
    right: -20px;
    top: 123px;
    max-width: 448px; }
  .section4_klaviyo .fullbox .s4_k_img4 {
    margin-top: 70px; }
  .section5_klaviyo h1 {
    font-size: 51px; }
  .section5_klaviyo {
    padding-top: 70px; }
  .section5_klaviyo .cc_content .step1 {
    right: 0; }
  .section5_klaviyo .cc_content .engagementklaviyopage {
    max-width: 470px;
    top: 20px;
    width: 100%; }
  .section5_klaviyo .cc_content .step2 {
    top: 350px;
    left: 0; }
  .section5_klaviyo .cc_content .s5_k_img2 {
    top: 420px;
    right: -30px;
    max-width: 493px; }
  .section5_klaviyo .cc_content .planningklaviyopage {
    max-width: 363px;
    left: 60px;
    top: 760px; }
  .section6_klaviyo {
    padding-top: 40px;
    padding-bottom: 70px; }
  .section7_klaviyo .box {
    padding: 50px; }
  .section7_klaviyo p {
    max-width: 386px; }
  .section7_klaviyo .box .meetingklaviyopage {
    max-width: 471px;
    top: 30px; }
  .section7_klaviyo {
    padding-bottom: 70px; }
  .section6_klaviyo .orangebtn {
    margin-top: 50px; }
  .section6_klaviyo .s6_k_img1 {
    max-width: 96px; }
  .section6_klaviyo .cont .para {
    margin-top: 59px;
    margin-left: 50px; }
  .section6_klaviyo .cont .para2 {
    margin-left: 20px; }
  .section6_klaviyo .cont .s6_k_img3 {
    margin-right: 115px;
    width: 100%; }
  .section5_klaviyo .cc_content .step3 {
    right: 60px;
    top: 753px; }
  .section4_klaviyo .fullbox .steps {
    max-width: 410px; }
  .section2_klaviyo {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section4_klaviyo .fullbox .s4_k_logo {
    margin-top: 0; }
  .section4_klaviyo .fullbox .lists ul li {
    font-size: 14px; }
  .section4_klaviyo .fullbox .steps {
    margin-top: 60px; }
  .section4_klaviyo .fullbox .steps .step img {
    max-width: 107px; }
  .section4_klaviyo .fullbox .steps .step .s4_k_img2 {
    max-width: 90px; }
  .section2_klaviyo .wrap_maxwidth .s2_k_img1 {
    margin-bottom: 20px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 .placeforimg img {
    max-width: 60px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 .placeforimg {
    min-height: 57px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 h2 {
    font-size: 55px;
    line-height: 78px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 h2 span {
    font-size: 22px;
    position: absolute;
    top: -18px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 h3 {
    font-size: 14px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 {
    font-size: 104.67px;
    line-height: 106.67px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 span {
    font-size: 37px; }
  .section2_klaviyo .wrap_maxwidth .leftside .s2_k_img5 {
    max-width: 120px;
    top: unset;
    bottom: -8px; }
  .section1_klaviyo .rightside {
    max-width: 445px; }
  .section1_klaviyo .mainimg {
    max-width: 472px;
    margin-top: -7px; }
  .section1_klaviyo {
    padding-top: 210px;
    min-height: 584px; }
  .section3_klaviyo .rightside {
    max-width: 445px; }
  .section3_klaviyo .mainimg {
    max-width: 485px;
    margin-top: 30px; }
  .section3_klaviyo .cols4 h2 {
    font-size: 22px;
    text-align: center; }
  .section3_klaviyo .cols4 .placeforimg img {
    max-width: 134px; }
  .section3_klaviyo .cols4 .placeforimg {
    min-height: 115px; }
  .section6_home .fordesktop {
    display: none; }
  .section6_home .forphone {
    display: block; }
  .footer .footer_logo {
    left: -340px; }
  .section2_home .rightcont {
    padding-left: 120px; }
  .customnavbar ul li {
    margin-left: 43px;
    margin-right: 43px; }
  .section1_home .heroimg {
    max-width: 565px;
    top: -30px; }
  .section1_home {
    padding-top: 210px; }
  .section1_home h1 {
    max-width: 445px;
    font-size: 34.55px;
    line-height: 37.14px;
    margin-top: 25px; }
  .section1_home p {
    max-width: 445px;
    font-size: 15px;
    line-height: 24px; }
  .contact .box .rightside .inputs button, .orangebtn a {
    font-size: 14px;
    line-height: 51.68px; }
  .section2_home .rightcont .cont h1 {
    font-size: 34.55px;
    line-height: 37.14px;
    margin-top: 50px; }
  .section2_home {
    padding-top: 0; }
  .section2_home .rightcont {
    min-width: 510px; }
  .section2_home .rightcont .cont p {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 21px; }
  .section2_home .rightcont .cont h2 {
    font-size: 24px;
    line-height: 32.13px;
    margin-top: 33px; }
  .section2_home .cardsbox h2 {
    font-size: 15px;
    line-height: 21px; }
  .section3_home h1 {
    font-size: 34.55px;
    line-height: 37.14px;
    max-width: 484.124px; }
  .section3_home p {
    font-size: 15px;
    line-height: 21px;
    max-width: 484.124px; }
  .section3_home img {
    max-width: 472px; }
  .section4_home h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .section4_home .boxes .box img {
    max-width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 20px; }
  .section4_home .boxes .box {
    min-height: auto; }
  .section4_home .boxes .box h2 {
    text-align: center;
    font-size: 24px; }
  .section4_home .boxes .box p {
    font-size: 15px;
    line-height: 21px;
    text-align: center; }
  .section5_home .mainimg {
    max-width: 550px; }
  .section5_home .contmax .rightside h2 {
    font-size: 82.53px;
    line-height: 129.04px;
    text-align: right; }
  .section5_home .contmax .rightside p {
    font-size: 33.53px;
    line-height: 38.29px; }
  .section6_home h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .section4_home .boxes .box .placeforimg {
    min-height: unset; }
  .section6_home h3 .rightarrow, .section6_home h3 .rightarrow2, .section6_home h3 .rightarrow3 {
    display: none; }
  .section6_home h3 {
    margin: 0; }
  .section6_home h3 {
    display: block;
    margin: auto;
    max-width: unset;
    text-align: center; }
  .section6_home h3 span {
    display: block;
    margin: auto;
    margin-bottom: 10px; }
  .section6_home p {
    position: relative;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    max-width: 500px; }
  .section6_home .orangebtn {
    margin-top: 70px; }
  .section7_home h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .section7_home p {
    font-size: 15px;
    line-height: 21px;
    max-width: 460px; }
  .section7_home h4 {
    font-size: 15px;
    line-height: 21px;
    max-width: 460px; }
  .section7_home h3 {
    font-size: 24px;
    line-height: 30.21px; }
  .section7_home h5 {
    max-width: 460px; }
  .section7_home img {
    top: 55px;
    max-width: 465px; }
  .section8_home h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .section8_home .maxcont .box img {
    max-width: 180px; }
  .section8_home .maxcont .box .placeforimg {
    min-height: 160px; }
  .section9_home .rightside h1 {
    font-size: 34.55px;
    line-height: 37.14px; }
  .section9_home .rightside p {
    font-size: 18px;
    line-height: 27px; }
  .section9_home .rightside h2 {
    font-size: 15px;
    line-height: 21px; }
  .section9_home .rightside {
    max-width: 370px; }
  .section9_home .mainimg {
    max-width: 400px; }
  .section10_home .testomonial p {
    font-size: 18px;
    line-height: 27px; }
  .section10_home .testomonial h2 {
    font-size: 15px;
    line-height: 21px; }
  .section10_home .testomonial {
    max-width: 370px;
    margin-bottom: 42px; }
  .section10_home .mainimg {
    max-width: 470px;
    top: 40px; }
  .section10_home .cont {
    padding-bottom: 70px; }
  .section11_home h1 {
    font-size: 34.55px;
    line-height: 37.14px; } }

@media (max-width: 992px) {
  .section10_sw .bbslide .carousel-inner .carousel-item img {
    max-width: 250px; }
  .section10_sw .bbslide .carousel-inner .carousel-item {
    min-height: 325px; }
  .contact {
    padding-top: 200px; }
  .contact .box .leftside {
    margin-bottom: 30px; }
  .contact .box {
    background: url("../img/contactbg.png") no-repeat left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .section10_sw .bbslide .rightarrow {
    right: 0; }
    .section10_sw .bbslide .rightarrow img {
      max-width: 40px; }
  .section10_sw .bbslide .leftarrow {
    left: 0; }
    .section10_sw .bbslide .leftarrow img {
      max-width: 40px; }
  .section10_sw .bbslide {
    padding-left: 0;
    padding-right: 0; }
  .section9_sw .para {
    margin-left: 0; }
  .section1_sw h1 {
    font-size: 54px;
    line-height: 53.14px; }
  .section3_sw .sw_s3_img1 {
    max-width: 450px;
    margin: auto;
    margin-top: 40px; }
  .section3_sw p {
    text-align: center; }
  .section3_sw .para {
    margin-top: 0; }
  .section3_sw {
    padding-top: 50px;
    padding-bottom: 50px; }
  .section2_sw {
    padding-bottom: 50px; }
  .section4_sw .para {
    margin: auto;
    text-align: center;
    padding-top: 50px; }
    .section4_sw .para h1 {
      text-align: center; }
  .section4_sw .sw_s4_img1 {
    display: block;
    right: unset;
    top: unset;
    max-width: 384px;
    position: relative;
    margin: auto; }
  .section4_sw {
    padding-bottom: 50px; }
  .section5_sw .sw_s5_img1 {
    display: none; }
  .section9_sw .area3 .para3, .section4_sw .para, .section6_sw .para, .section9_sw .area2 .para2, .section8_sw .para {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .section9_sw .area3 .para3 h1, .section4_sw .para h1, .section6_sw .para h1, .section9_sw .area2 .para2 h1, .section8_sw .para h1 {
      text-align: center;
      max-width: 100%; }
  .section6_sw .sw_s6_img1 {
    max-width: 390px;
    width: 100%;
    margin: auto; }
  .section6_sw .para2 h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .section6_sw .para2 p {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .section6_sw .sw_s6_img2 {
    max-width: 390px;
    margin-top: 0;
    margin: auto;
    display: block;
    margin-top: 30px; }
  .section5_sw {
    padding-top: 50px;
    padding-bottom: 50px; }
  .section5_sw .para {
    right: unset;
    top: unset;
    position: relative;
    text-align: center;
    margin: auto; }
    .section5_sw .para h1 {
      text-align: center; }
  .section6_sw .para h1 {
    margin-top: 50px; }
  .section6_sw {
    padding-top: 0;
    padding-bottom: 50px; }
  .section7_sw {
    padding-top: 50px; }
  .section7_sw h1 {
    margin-bottom: 20px; }
  .section7_sw p {
    margin-top: unset;
    position: relative;
    margin: auto;
    text-align: center;
    right: unset; }
  .section7_sw .sw_s7_img1 {
    max-width: 350px;
    margin: auto;
    display: block;
    margin-top: 30px; }
  .section8_sw .sw_s8_img1 {
    top: unset;
    max-width: 270px;
    width: 100%;
    position: relative;
    margin: auto;
    display: block; }
  .section8_sw p {
    margin-left: auto;
    margin-right: auto; }
  .section8_sw {
    padding-top: 50px;
    padding-bottom: 50px; }
  .section9_sw .para {
    right: unset;
    top: unset;
    max-width: 520px;
    position: relative;
    text-align: center; }
    .section9_sw .para h1 {
      text-align: center; }
  .section9_sw .sw_s9_img1 {
    margin: auto;
    display: block; }
  .section9_sw .area2 .sw_s9_img2 {
    top: unset;
    max-width: 350px;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 20px; }
  .section9_sw .area3 .para3 p {
    margin-left: auto;
    margin-right: auto; }
  .section10_sw h1, .section2_sw h1 {
    font-size: 61px;
    line-height: 60px;
    margin-bottom: 50px; }
  .section9_sw .area3 h1 {
    margin-top: 50px; }
  .section9_sw .testomonial {
    max-width: 355px;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    top: unset; }
  .section10_sw .bbslide {
    max-width: 400px; }
  .section10_sw .bbslide .carousel-indicators li {
    width: 15px;
    height: 15px; }
  .section11_sw {
    padding-top: 0 !important; }
  .section2_sw .toparea h2 {
    text-align: center; }
  .section2_sw .toparea p {
    text-align: center; }
  .section2_sw .sw_s2_img1 {
    max-width: 250px;
    margin: auto;
    display: block;
    width: 100%; }
  .section2_sw .toparea {
    margin: auto; }
  .section2_sw {
    padding-top: 203px; }
  .section6_klaviyo {
    padding-bottom: 0px; }
  .section7_klaviyo_v2 {
    padding-top: 170px; }
  .section7_klaviyo_v2 .box {
    position: relative;
    margin: auto;
    display: block;
    text-align: center;
    max-width: 455px; }
  .section7_klaviyo_v2 .s7_img_v2 {
    top: unset;
    max-width: 455px;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: -13px; }
  .section6_klaviyo .s6_k_img1 {
    max-width: 80px; }
  .section6_klaviyo {
    padding-top: 70px; }
  .section6_klaviyo h1 {
    max-width: 455px;
    margin-left: auto;
    margin-right: auto; }
  .section6_klaviyo .cont .para {
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0px; }
  .section7_klaviyo .box .meetingklaviyopage {
    max-width: 391px;
    top: unset;
    position: relative;
    margin: auto;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: -100px; }
  .section7_klaviyo .box {
    text-align: center; }
    .section7_klaviyo .box p {
      margin-left: auto;
      margin-right: auto; }
  .section6_klaviyo .cont .para2 {
    max-width: 455px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px; }
  .section6_klaviyo .withleftp {
    margin-top: 0; }
  .section6_klaviyo .cont .s6_k_img3, .section6_klaviyo .cont .s6_k_img2 {
    max-width: 398px;
    margin: auto;
    margin-top: 30px;
    position: relative; }
  .section1_klaviyo .rightside {
    max-width: 445px;
    position: relative;
    margin: auto;
    text-align: center; }
  .section1_klaviyo .mainimg {
    max-width: 412px;
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: -60px; }
  .section2_klaviyo .wrap_maxwidth {
    max-width: 455px;
    margin: auto; }
  .section2_klaviyo .wrap_maxwidth .s2_k_img1 {
    max-width: 96.939px; }
  .section2_klaviyo {
    padding-bottom: 35px; }
  .section3_klaviyo {
    padding-top: 35px; }
  .section3_klaviyo .rightside {
    max-width: 445px;
    position: relative;
    margin: auto;
    text-align: center; }
  .section3_klaviyo .rightside p {
    margin-right: auto;
    margin-left: auto; }
  .section3_klaviyo .mainimg {
    max-width: 365px;
    margin: auto;
    display: block;
    margin-top: 30px; }
  .section3_klaviyo .cols4 {
    margin-top: 20px;
    max-width: 450px; }
  .section3_klaviyo .cols4 .placeforimg img {
    margin-top: 50px; }
  .section3_klaviyo {
    padding-bottom: 70px; }
  .section4_klaviyo .fullbox .stepsfull .s4_k_img3 {
    display: none; }
  .section4_klaviyo .fullbox {
    max-width: 535px;
    margin: auto; }
  .section4_klaviyo .fullbox {
    padding: 50px;
    padding-bottom: 52px; }
  .section4_klaviyo .fullbox .s4_k_logo {
    max-width: 110px; }
  .section5_klaviyo h1 {
    font-size: 41px; }
  .section5_klaviyo .cc_content .imgforcontent {
    display: none; }
  .engagementklaviyopage {
    max-width: 470px;
    top: unset;
    position: relative;
    margin: auto;
    display: block; }
  .section5_klaviyo .cc_content .step1 {
    max-width: 455px;
    position: relative;
    right: unset;
    top: unset;
    margin: auto;
    text-align: center;
    margin-bottom: 20px; }
  .section5_klaviyo .cc_content .engagementklaviyopage {
    position: relative;
    max-width: 390px;
    top: unset; }
  .section5_klaviyo .cc_content .step1 h2 {
    text-align: center;
    max-width: 100%; }
  .section5_klaviyo .cc_content {
    margin-top: 0; }
  .section5_klaviyo .cc_content .step2 {
    max-width: 455px;
    position: relative;
    right: unset;
    top: unset;
    margin: auto;
    text-align: center;
    margin-bottom: 20px; }
    .section5_klaviyo .cc_content .step2 h2 {
      text-align: center;
      max-width: 100%; }
  .section5_klaviyo .cc_content .s5_k_img2 {
    position: relative;
    max-width: 390px;
    top: unset;
    margin: auto;
    display: block;
    left: unset;
    right: unset; }
  .section5_klaviyo .cc_content .step3 {
    max-width: 455px;
    position: relative;
    right: unset;
    top: unset;
    margin: auto;
    text-align: center;
    margin-bottom: 20px; }
    .section5_klaviyo .cc_content .step3 h2 {
      text-align: center;
      max-width: 100%; }
  .section5_klaviyo .cc_content .planningklaviyopage {
    position: relative;
    max-width: 250px;
    top: unset;
    margin: auto;
    display: block;
    left: unset;
    right: unset; }
  .section5_klaviyo .cc_content .step3 p {
    margin-right: auto;
    margin-left: auto; }
  .section2_home .rightcont {
    padding-left: 0; }
  .customnavbar ul li {
    margin-left: 25px;
    margin-right: 25px; }
  .customnavbar ul li a {
    font-size: 13px; }
  .customnavbar ul li .cbtn {
    font-size: 13px; }
  .section1_home .heroimg {
    max-width: 505px;
    top: 0;
    position: relative;
    margin: auto;
    margin-top: 50px;
    display: block;
    margin-bottom: -120px; }
  .section1_home h1 {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .section1_home p {
    margin-left: auto;
    margin-right: auto; }
  .section1_home .orangebtn {
    text-align: center; }
  .section2_home .rightcont {
    position: relative; }
  .section2_home .rightcont {
    position: relative;
    top: 0;
    text-align: center;
    min-height: auto;
    padding-top: 50px; }
    .section2_home .rightcont p, .section2_home .rightcont h1, .section2_home .rightcont h2, .section2_home .rightcont h3 {
      text-align: center; }
  .section2_home img {
    display: none; }
  .section2_home .cardsbox .box {
    margin: auto;
    display: block;
    margin-bottom: 50px; }
  .section2_home {
    padding-bottom: 30px; }
  .section3_home img {
    position: relative;
    display: block;
    margin: auto;
    max-width: 505px;
    top: unset;
    right: unset; }
  .section3_home p {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .section3_home h1 {
    text-align: center;
    margin: auto; }
  .section5_home .contmax .rightside {
    position: relative;
    top: unset;
    right: unset;
    margin: auto;
    text-align: center; }
  .section5_home .contmax .rightside h2 {
    font-size: 62.53px;
    line-height: 109.04px;
    text-align: center; }
  .section5_home .contmax .rightside p {
    font-size: 28.53px;
    line-height: 38.29px;
    text-align: center; }
  .section5_home .contmax {
    padding-top: 10px; }
  .section5_home .mainimg {
    display: block;
    margin: auto;
    margin-top: 40px; }
  .section7_home .mainimg {
    position: relative;
    display: block;
    margin: auto;
    max-width: 505px;
    top: unset;
    right: unset;
    display: none; }
  .section7_home p {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .section7_home h1, .section7_home h3, .section7_home h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .section7_home h5 {
    margin-left: auto;
    margin-right: auto; }
  .section8_home .maxcont .box img {
    margin: auto; }
  .section9_home .mainimg {
    position: relative;
    display: block;
    margin: auto;
    max-width: 315px;
    top: unset;
    right: unset;
    margin-top: 50px; }
  .section9_home .rightside {
    position: relative;
    display: block;
    margin: auto;
    top: unset;
    right: unset; }
  .section9_home .rightside h1 {
    text-align: center; }
  .section9_home {
    padding-top: 70px;
    padding-bottom: 70px; }
  .section9_home .rightside p img {
    position: relative;
    width: 46px;
    left: unset;
    top: unset;
    display: block;
    margin: auto;
    margin-bottom: 5px; }
  .section9_home .rightside p {
    text-align: center; }
  .section10_home .mainimg {
    display: none; }
  .section10_home .cont {
    padding-top: 70px; }
  .section10_home .testomonial {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .section10_home .testomonial p {
      text-align: center; }
  .section10_home .testomonial p img {
    position: relative;
    width: 46px;
    left: unset;
    top: unset;
    display: block;
    margin: auto;
    margin-bottom: 5px; }
  .section10_home .orangebtn {
    margin: 0;
    text-align: center;
    margin-top: 80px; }
  .footer .footer_logo {
    left: -450px; }
  .lastline p {
    font-size: 15px;
    line-height: 17px; }
  .contact .box .rightside .inputs button, .orangebtn a {
    min-width: unset !important; }
  .section7_home h3 {
    margin-top: 25px;
    margin-bottom: 10px; }
  .section8_home .maxcont .box p {
    min-height: auto; }
  .section8_home .maxcont .box .placeforimg {
    min-height: auto;
    margin-bottom: 10px; }
  .section12_sw {
    padding-top: 70px; } }

@media (max-width: 767px) {
  .contact {
    padding-top: 150px; }
  .customnavbar ul li .cbtn {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 15px; }
  .contact .box {
    padding: 35px 25px; }
  .contact .box .rightside .inputs button {
    margin-top: 25px; }
  body {
    border: 15px solid #EAEAEA; }
  .section5_klaviyo .cc_content .step3 h2, .section5_klaviyo .cc_content .step1 h2, .section9_sw .area3 h1, .section9_sw .area2 h1, .section9_sw .para h1, .section8_sw h1, .section7_sw h1, .section6_sw .para2 h1, .section6_sw .para h1, .section5_sw .para h1, .section4_sw h1, .section3_sw h1, .section1_sw h2, .section7_klaviyo_v2 h1, .section4_klaviyo .fullbox h1, .section3_klaviyo .rightside h1, .section2_klaviyo .wrap_maxwidth h1, .section7_klaviyo h1, .section6_klaviyo .cont h2, .section6_klaviyo h1, .section5_klaviyo .cc_content .step2 h2, .section1_klaviyo .rightside h1, .section3_klaviyo .rightside h1 {
    font-size: 29.55px;
    line-height: 37.14px; }
  .section1_sw {
    padding-top: 143px; }
  .section10_sw h1, .section2_sw h1 {
    font-size: 45px;
    line-height: 40px; }
  .section2_sw .toparea h3 {
    font-size: 106px;
    line-height: inherit;
    text-align: center; }
  .section2_sw .toparea h5 {
    font-size: 25.24px;
    text-align: center;
    margin-bottom: -30px; }
  .section2_sw .toparea h4 {
    font-size: 31px;
    line-height: 11px;
    text-align: right;
    margin-top: -20px;
    max-width: 318px; }
  .section9_sw .area2 .sw_s9_img2, .section9_sw .sw_s9_img1, .section9_sw .para, .section7_sw .sw_s7_img1, .section4_sw .sw_s4_img1, .section6_sw .sw_s6_img1, .section6_sw .sw_s6_img2 {
    max-width: 100%; }
  .section9_sw .testomonial {
    padding-left: 60px;
    margin-bottom: 0; }
  .section6_sw .para2 {
    margin-left: 0; }
  .section9_sw {
    padding-top: 0; }
  .section9_sw .testomonial p img {
    width: 36px;
    left: -45px; }
  .section9_sw .testomonial p {
    font-size: 22px;
    line-height: 33px; }
  .section9_sw .testomonial h2 .bolder {
    font-size: 17px; }
  .section9_sw .testomonial h2 {
    font-size: 13px;
    padding-right: 0; }
  .section1_klaviyo .rightside h1 {
    margin-top: 0; }
  .section1_klaviyo {
    padding-top: 140px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 {
    font-size: 84.67px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 span {
    font-size: 31px; }
  .section2_klaviyo .wrap_maxwidth .leftside .s2_k_img5 {
    max-width: 90px; }
  .section2_klaviyo .wrap_maxwidth .leftside {
    margin-top: 40px;
    padding-left: 0; }
  .section2_klaviyo .wrap_maxwidth .leftside p {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 h3 {
    margin-bottom: 30px; }
  .section4_klaviyo .fullbox {
    padding: 30px;
    padding-bottom: 30px; }
  .section7_klaviyo .box {
    padding: 30px; }
  .section7_klaviyo {
    padding-bottom: 100px; }
  .section5_klaviyo h1 {
    line-height: 45px; }
  .contact .box .rightside .inputs button, .section6_klaviyo .orangebtn a, .section7_klaviyo .box .orangebtn a {
    letter-spacing: 0; }
  .section7_klaviyo .box .meetingklaviyopage {
    max-width: 100%;
    margin-bottom: -50px; }
  .section4_klaviyo .fullbox .s4_k_img4 {
    display: none; }
  .section2_home .rightcont {
    width: 100%;
    max-width: 100%;
    min-width: 100%; }
  .container {
    max-width: 370px; }
  .section1_home h1 {
    font-size: 29.55px;
    line-height: 37.14px;
    margin-top: 0; }
  .section1_home p {
    text-align: center; }
  .customnavbar .hambmenu {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0; }
  .topline {
    display: none; }
  .customnavbar ul {
    position: absolute;
    left: 15px;
    right: 15px;
    top: -40px; }
  .customnavbar {
    position: absolute;
    text-align: center;
    z-index: 99999;
    left: 0;
    right: 0; }
  .customnavbar .logo {
    display: none; }
  .customnavbar .logophone {
    display: block;
    max-width: 183px;
    position: absolute;
    right: 0; }
  .customnavbar .ccphone {
    max-width: 370px;
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
    margin-top: 40px; }
  .section1_home {
    padding-top: 140px; }
  .customnavbar .hambmenu {
    top: 18px; }
  .topline {
    position: fixed; }
  .customnavbar .container {
    width: 100%;
    max-width: 100%;
    padding: 0; }
  .customnavbar .continside {
    position: relative; }
  .customnavbar .hambmenu {
    z-index: 999; }
  .customnavbar ul {
    background: #1B7A71;
    padding-top: 120px;
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .customnavbar ul li {
      display: block;
      text-align: left;
      max-width: 390px;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      margin: auto; }
      .customnavbar ul li a {
        color: #fff;
        display: block;
        max-width: 215px;
        border-bottom: 1px solid #fff;
        padding-top: 15px;
        padding-bottom: 15px; }
      .customnavbar ul li .active {
        color: #fff; }
    .customnavbar ul li:last-child a {
      border-bottom: 0; }
  .menu_activated ul {
    visibility: visible;
    opacity: 1; }
  .footer {
    padding-bottom: 20px; }
  .footer .leftside {
    margin-right: 0; }
  .footer .logofooterphone {
    display: block;
    max-width: 597px;
    margin-top: -146px;
    margin-bottom: -166px;
    position: absolute;
    left: -340px;
    top: 0; }
  .footer .rightside p {
    color: #236875;
    font-family: NHaasGroteskTXPro_reg;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.7px;
    margin-top: 50px;
    margin-left: 0;
    text-align: left; }
  .footer .rightside .footer_logos {
    margin: 0; }
  .footer .footer_logo {
    display: none; }
  .lastline {
    background: white;
    background: -moz-linear-gradient(left, white 0%, white 10%, #eaf3f4 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, white), color-stop(10%, white), color-stop(100%, #eaf3f4));
    background: -webkit-linear-gradient(left, white 0%, white 10%, #eaf3f4 100%);
    background: -o-linear-gradient(left, white 0%, white 10%, #eaf3f4 100%);
    background: -ms-linear-gradient(left, white 0%, white 10%, #eaf3f4 100%);
    background: linear-gradient(to right, white 0%, white 10%, #eaf3f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaf3f4', GradientType=1 ); }
  .footer .rightside .footer_logos {
    display: none; }
  .footer .rightside .logosfooterphone {
    display: block;
    margin: auto;
    max-width: 789px;
    width: 100%;
    margin-top: 0; }
  .section4_home .boxes .box {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .section2_home .cardsbox img {
    margin-bottom: 15px; }
  .section2_home .cardsbox .placeforimg {
    min-height: auto; }
  .section11_home .s11_img {
    margin-top: 20px; }
  .section10_home .orangebtn {
    margin-top: 50px; }
  .section11_home {
    padding-top: 70px; }
  .section8_home .orangebtn {
    margin-top: 50px; }
  .section6_home {
    padding-bottom: 70px; }
  .section5_home .contmax .rightside p {
    font-size: 23.53px;
    line-height: 31.29px; } }

@media (max-width: 500px) {
  .section2_sw .toparea h3 {
    font-size: 86px; }
  .section2_sw .toparea h4 {
    font-size: 26px;
    text-align: center; }
  .section2_home .cardsbox h1 {
    font-size: 24px; }
  .footer .logofooterphone {
    display: block;
    max-width: 547px;
    margin-top: -126px;
    margin-bottom: -166px;
    position: absolute;
    left: -260px;
    top: 0; }
  .contact .box .rightside .inputs button, .orangebtn a {
    font-size: 12px;
    line-height: 48.68px;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-right: 15px; }
  .customnavbar .ccphone {
    max-width: 400px; }
  .customnavbar .hambmenu {
    left: 30px; }
  .customnavbar .logophone {
    right: 30px; }
  .customnavbar ul li {
    max-width: 360px; }
  .section4_klaviyo .fullbox .lists {
    margin-top: 0; }
  .section4_klaviyo .fullbox {
    padding: 15px; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 h3 {
    text-align: center; }
  .section2_klaviyo .orangebtn {
    margin-top: 0; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 .placeforimg, .section2_klaviyo .wrap_maxwidth .leftside .colls3 h2 {
    padding: 0; }
  .section2_klaviyo .wrap_maxwidth .leftside p {
    margin-bottom: 0; }
  .section2_klaviyo .wrap_maxwidth .leftside .colls3 {
    margin-top: 30px; }
  .section3_klaviyo .cols4 h2 {
    font-size: 18px;
    line-height: 21px; }
  .section3_klaviyo .cols4 .placeforimg {
    min-height: 85px; }
  .section3_klaviyo .cols4 .placeforimg img {
    margin-top: 30px; }
  .section5_klaviyo h1 {
    line-height: 44px;
    font-size: 36px; }
  .section5_klaviyo {
    padding-top: 40px; } }

@media (max-width: 400px) {
  .section10_sw .bbslide .carousel-inner .carousel-item img {
    max-width: 216px; }
  .section10_sw .bbslide .carousel-inner .carousel-item {
    min-height: 260px; }
  .section10_sw .bbslide .carousel-indicators {
    bottom: -60px;
    width: 100%;
    margin: auto; }
  .section10_sw .bbslide .carousel-indicators li {
    width: 10px;
    height: 10px; } }

@media (max-width: 370px) {
  .section2_klaviyo .wrap_maxwidth .leftside h3 span {
    font-size: 26px; }
  .section2_klaviyo .wrap_maxwidth .leftside .s2_k_img5 {
    max-width: 70px;
    bottom: -4px; }
  .section2_klaviyo .wrap_maxwidth .leftside h3 {
    font-size: 74.67px;
    line-height: 88px; } }

@media (max-width: 350px) {
  .section10_sw .bbslide .carousel-inner .carousel-item img {
    max-width: 180px; }
  .section10_sw .bbslide .carousel-inner .carousel-item {
    min-height: 220px; }
  .contact .box .rightside .inputs button, .orangebtn a {
    letter-spacing: 1px; }
  .footer .leftside {
    margin-top: 50px; }
  .footer .logofooterphone {
    display: block;
    max-width: 527px;
    margin-top: -121px;
    margin-bottom: -166px;
    position: absolute;
    left: -260px;
    top: 0; } }
